<article class="col">
    <head>
        <h2>Busqueda en Google</h2>
    </head>
    <form>
        <p>
            <label for="clave">Clave de búsqueda</label>
            <input id="clave" type="text" ng-model="$ctrl.clave">
        </p>
        <p>
            <button class= "btn btn-primary"
                ng-click="$ctrl.buscar()"
                ng-disabled="!$ctrl.clave">Buscar</button>
        </p>
    </form>
    <div ng-if="$ctrl.aLibros.length">
        <p class="h4">Resultados acerca de {{$ctrl.claveTitle}}</p>
        <ul class="list-group">
            <li class="list-group-item"
                ng-repeat="libro in $ctrl.aLibros track by $index">{{libro}}</li>
        </ul>
    </div>

</article>  