<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hola Mundo</title>
    <meta name="description" content="Hola Mundo con Angula JS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./css/estilos.css">
    <!-- Angular 1.6 -->
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-i18n/angular-locale_es-es.js"></script>
    <!-- Scripts de la aplicación -->
    <script src="./js/appModule.js"></script>
    <script src="./js/appController.js"></script>
    <style>
        footer {
            margin-top: 4em;
            border-top: 1px solid blue
        }
    </style>
</head>

<body ng-app="appMain" ng-controller="AppController as $ctrl">
    <div class="container">
        <div class="row">
            <header class="col">
                <h1>{{$ctrl.sTitulo}}</h1>
            </header>
        </div>
        <div class="row">
            <article class="col">
                <h2 ng-class="$ctrl.tamTitular">Acumulador</h1>
                <label>Elije en tamaño de letra del titular</label>
                <select ng-model="$ctrl.tamTitular">
                    <option value="titularpeq">Pequeño</option>
                    <option value="titulargran">Grande</option>
                </select>
        
                <h2 ng-class="$ctrl.aClases">Control de operación:</h2>
                <form name="formulario">
                    <label for="fNombre" id="lblNombre">Incremento</label>
                    <input type="text" id="fvalor" name="fvalor" size="4" 
                    ng-model="$ctrl.incremento">
        
                    <label></label>
                    <input type="button"  id="btnMas" value="+"  
                    ng-click="$ctrl.sumar()">	
                    <label></label>
                    <input type="button"  id="btnMenos" value="-" 
                    ng-click="$ctrl.restar()">
        
                </form>
                
                <h2>Totales:</h2>
                <p>En el acumulador llevamos <b ng-class="$ctrl.oClaseTotal">{{ $ctrl.total }}</b></p>  
            </article>                          
        </div>   
        
        <div class="row">
            <footer class="col">
                <p>{{$ctrl.sAutor}} - {{$ctrl.dFecha | date:"yyyy"}}</p>
            </footer>
        </div>

    </div>
    
</body>
</html>